fastapi
uvicorn[standard]
langgraph
langchain
langchain-core
langchain-groq
langchain-text-splitters
qdrant-client
sentence-transformers
numpy
youtube-transcript-api
google-api-python-client
instaloader
yt-dlp
groq
redis
langgraph-checkpoint-redis
python-dotenv
tiktoken
httpx
aiofiles